<div class="col-sm-4 blog-sidebar">

    <div class="sidebar-module">
        <form action="/tags/bsq" method="POST">
            <div class="form-group">
                <input type="text" name="busqueda" class="form-control" placeholder="Buscar por tags">
            </div>
        </form>
    </div><!-- /.sidebar-module -->
    <!-- Botones de Ayuda -->
    <div class="sidebar-module">
        <a href="#tutorial1" data-toggle="modal"><img src="/assets/img/tutoriales/que_es.png" alt="Que es" width="100%"></a>
        <a href="#tutorial2" data-toggle="modal"><img src="/assets/img/tutoriales/como_func.png" alt="Como Funciona" width="100%"></a>
        <a href="#tutorial3" data-toggle="modal"><img src="/assets/img/tutoriales/faq.png" alt="Preguntas Frecuentes" width="100%"></a>
    </div>
    <!-- Categorías -->
    <div class="sidebar-module">
        <div class="panel panel-primary">
            <div class="panel-heading">Categorías</div>
            <div class="panel-body">
                <div class="categories">
                    <a class="label label-light label-primary margen" href="/tagbsq/71">Agua limpia y saneamiento</a>
                    <a class="label label-light label-primary margen" href="/tagbsq/18">Fin de la pobreza</a>
                    <a class="label label-light label-primary margen" href="/tagbsq/76">Ciudades sostenibles</a>
                    <a class="label label-light label-danger margen" href="/tagbsq/69">Educación de Calidad</a>
                    <a class="label label-light label-success margen" href="/tagbsq/70">Igualdad de Género</a>
                    <a class="label label-light label-info margen" href="/tagbsq/78">Acción por el clima</a>
                    <a class="label label-light label-info margen" href="/tagbsq/73">Trabajo decente</a>
                    <a class="label label-light label-info margen" href="/tagbsq/68">Salud y Bienestar</a>
                    <a class="label label-light label-danger margen" href="/tagbsq/79">Vida Submarina</a>
                    <a class="label label-light label-warning margen" href="/tagbsq/67">Hambre Cero</a>
                    <a class="label label-light label-primary margen" href="/tagbsq/81">Paz justicia e Instituciones solidas</a>
                    <a class="label label-light label-warning margen" href="/tagbsq/77">Producción y consumo responsable</a>
                    <a class="label label-light label-success margen" href="/tagbsq/75">Reducción de desigualdades</a>
                    <a class="label label-light label-danger margen" href="/tagbsq/74">Ind. Innovación e infraestructura</a>
                    <a class="label label-light label-success margen" href="/tagbsq/80">Vida de ecosistemas terrestres</a>
                    <a class="label label-light label-warning margen" href="/tagbsq/82">Alianzas para lograr objetivos</a>
                    <a class="label label-light label-warning margen" href="/tagbsq/72">Energía Limpia y asequible</a>
                </div>
            </div>
        </div>
    </div><!-- /.sidebar-module -->
    <!-- Gráficos -->
    <div class="sidebar-module">
        <div class="panel panel-success">
            <div class="panel-heading"> Estadísticas</div>
            <div class="panel-body">
                <canvas id="myChart" width="250" height="300"></canvas>
            </div>
        </div>
    </div>
    <div class="sidebar-module">
        <div class="panel panel-warning">
            <div class="panel-heading">Archivos</div>
            <div class="panel-body">
                <form action="/b_fecha" method="POST">
                    <label>Desde:</label>
                    <input type="date" name="desde" class="form-control">
                    <label>Hasta:</label>
                    <input type="date" name="hasta" class="form-control">
                    <button type="submit" class="btn btn-success">Buscar</button>
                </form>

            </div>
        </div>
    </div><!-- /.sidebar-module -->

    <div class="sidebar-module">
        <div class="panel panel-info">
            <div class="panel-heading">Redes Sociales</div>
            <div class="panel-body">
                <ol class="list-unstyled">
                    <li><a href="https://www.facebook.com/observaciudadania" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/observaciudadania" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/observaciudadania/" target="_blank">Linked In</a></li>
                    <li><a href="https://www.youtube.com/channel/UCRk_2lqkIE8WENW1hRLzZNA" target="_blank">Youtube</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.sidebar-module -->

</div><!-- /.blog-sidebar -->
</div><!-- /.row -->

</div><!-- /.container -->




<%- include footer_x.ejs %>

<button class="material-scrolltop primary" type="button"></button>
<!-- Modals -->
<%- include modal.ejs %>

<script src="/assets/js/jquery-form.js"></script>
<!-- Editor de texto -->
<link href="/assets/css/jquery-te-1.4.0.css" rel="stylesheet">
<script src="/assets/js/jquery-te-1.4.0.min.js"></script>
<!-- Tema de Bootstrap  -->
<script src="/assets/js/ripples.min.js"></script>
<script src="/assets/js/material.min.js"></script>
<script src="/assets/js/material-scrolltop.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    function preliminar(idpost){
        $("#rm_real").attr("href","/delete_pst/" + idpost);
        $("#rm_pst").modal("toggle");
    };
</script>
<script type="text/javascript">
    var quill = false;
    $(document).on("click", ".poster", function() {
        var data = {};
        $("#t_princ").val("");
        $("#editor").val("");
        data.tipo = $(this).data('tipo');
        $(".modal-footer #tipo").val(data.tipo);
        switch(data.tipo) {
            case 1:
                $("#t_princ").attr("placeholder","Paz Mundial");
                $("#preview").html("");
                $("#fail").addClass("hidden");
                $("#t_princ").removeClass("hidden");
                break;
            case 2:
                $("#t_princ").attr("placeholder","Título");
                $("#fail").addClass("hidden");
                $("#preview").html("");
                $("#t_princ").removeClass("hidden");
                break;
            case 3:
                $("#preview").html("");
                $("#t_princ").attr("placeholder","Url Imagen");
                $("#t_princ").removeClass("hidden");
                $("#fail").removeClass("hidden");
                break;
            case 4:
                $("#preview").html("");
                $("#t_princ").attr("placeholder","Url Video (Youtube,Vimeo,Dailymotion)");
                $("#fail").addClass("hidden");
                $("#t_princ").removeClass("hidden");
                break;
            default:
                status = "inactivo";
        }
        if(parseInt(data.tipo) > 1){
            $(".modal-body #catego").removeClass("hidden");
            if(!quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
                quill = true;
            }
        } else {
            $(".modal-body #catego").addClass("hidden");
            if(quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
            }
            quill = false;
        }
    });
    $(document).on("click", ".edit", function() {
        var data = {};
        data.tipo = $(this).data('tipo');
        $("#mform").attr('action','/post/edit/' + $(this).data('idpost'));
        $(".modal-footer #tipo").val($(this).data('tipo'));
        $("#tag").val("");
        if(parseInt(data.tipo) > 1){
            $(".modal-body #catego").removeClass("hidden");
            if(!quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
                quill = true;
            }
        } else {
            $(".modal-body #catego").addClass("hidden");
            if(quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
            }
            quill = false;
        }
        switch(data.tipo) {
            case 1:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").jqteVal($(this).data('cont'));
                $("#tag").val($(this).data('tags'));
                break;
            case 2:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").jqteVal($(this).data('cont'));
                break;
            case 3:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").jqteVal($(this).data('cont'));
                break;
            case 4:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").jqteVal($(this).data('cont'));
                break;
            default:
                status = "inactivo";
        }
    });
    $.material.init();
    $('body').materialScrollTop();


    $(function () {
        // Modificar un post rechazado
        $(".mform").click( function(e){
            e.preventDefault();
            $(this).attr('disabled',true);
            var formArray = $("#mform").serializeArray();
            var returnArray = {};
            for (var i = 0; i < formArray.length; i++){
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            returnArray.tipo = $("#tipo").val();
            $.ajax({
                url: "/post/add",
                type: 'POST',
                data: returnArray,
                success: function(data){
                    if(data != "no"){
                        $("#aa .modal-body").html("<div class='alert alert-success'><strong>Bien!</strong> tu post fue enviado a moderación</div>");
                        $("#aa .modal-footer").html("");
                        setTimeout(function(){
                            window.location.href = "/usr_post";
                        },2000);
                    }
                }
            });
        });
        <!-- Setea los tags -->
        $(".blog-post-meta :input.hidden").each(function (j) {
            var tagger = $(this).val();
            var idpost = "#" + $(this).data('id');
            tagger = tagger.split(",");
            for(var i = 0; i < tagger.length;i++){
                if(tagger[i] != "null") {
                    tagger[i] = tagger [i].split("@");
                    $(idpost + " .blog-post-meta").append('<a href="/tagbsq/' + tagger[i][1] + '" class="label label-light label-primary">' + tagger[i][0] + '</a> ');
                    $(this).val("");
                } else $(idpost + " .blog-post-meta").append('<span class="label label-light label-primary">idea</span> ');

            }
        });
        <!-- Busca si pusiste laik o no a un post según su token de iduser1,iduser2,iduser3 -->
        $(".blog-post-share :input.laiktoken").each(function (j) {
            var tagger = $(this).val();
            var idpost = "#" + $(this).data('id');
            tagger = tagger.split(",");
            for(var i = 0; i < tagger.length;i++){
                if(tagger[i] == <%= usr.iduser%>) {
                    $(idpost + " .laik").removeClass("btn-inverse");
                    $(idpost + " .laik").addClass("btn-success");
                    $(this).val("");
                }
            }
        });
        <!-- Botón Comentar -->
        $(".comm").click(function (e) {
            var data = {};
            data.idpost = $(this).data('id');
            var like = $(this);
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/pstcomment_stream',
                success: function(data) {
                    $("#"+like.data('id') + " .panel-footer").html(data);
                    $("#"+like.data('id') + " .panel-footer").toggle("collapse");
                }
            });
        });
        <!-- Botón hacer laik -->
        $('.laik').click(function(e){
            /*$.ajax({
             dataType: 'jsonp',
             data: "data=yeah",
             jsonp: 'callback',
             url: 'http://localhost:3000/endpoint?callback=?',
             success: function(data) {
             console.log('success');
             console.log(JSON.stringify(data));
             }
             });*/
            var data = {};
            data.idpost = $(this).data('id');
            var like = $(this);
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/send_laik',
                success: function(data) {
                    if(data != "no"){
                        like.html(data.html);
                        like.removeClass("btn-inverse");
                        like.removeClass("btn-success");
                        like.addClass(data.newlaik);
                    }
                }
            });
            e.preventDefault();
            /*$.ajax('http://localhost:3000/endpoint', {
             type: 'POST',
             data: JSON.stringify(data),
             contentType: 'application/json',
             success: function() { console.log('success');},
             error  : function() { console.log('error');}
             });*/
        });
        //ajax para crear estadísticas
        $.ajax({
            //conectar "datos" con la creación de el gráfico
            type: 'GET',
            url: "/get_stats",
            success: function(data){
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ["Estudiantes", "Colegios", "Post", "Comentarios"],
                        datasets: [{
                            label: "Participacion",
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderColor: 'rgb(150, 150, 150)',
                            data: [data[0], data[1], data[2], data[3]]
                        }]
                    },
                    options: {}
                });
            }
        });
    });
    // Subir archivo con onchange En formulario. Ver linea 32 en layouts/modal.ejs
    function upload(e,form,barra){
        $("#submit_post").attr("disabled",true);
        if (!e.files) {
            alert("This browser doesn't seem to support the `files` property of file inputs.");
            $("#submit_post").attr("disabled",false);
        }
        else if (!e.files[0]) {
            alert("Porfavor seleccione algún archivo");
            $("#submit_post").attr("disabled",false);
        }
        else {
            var formData = e.files[0];
            if(formData.size > 15*1024*1024){
                alert("Archivo muy grande");
                $("#submit_post").attr("disabled",false);
            } else {

                $(function (){
                    //Cuando el DOM este ready.

                    var bar = $(barra);
                    var options = {
                        url: '/subir_pic',
                        type: 'POST',
                        beforeSend: function() {
                            var percentVal = '0%';
                            bar.width(percentVal);
                        },
                        //uploadprogress se llama a lo largo de todo el update de los datos (puede servir para todo formulario, no solo archivos)
                        uploadProgress: function(event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal);
                        },
                        complete: function(data) {
                            $("#preview").html("<img width='auto' class='img-responsive' src='" + data.responseText + "' >");
                            $("#avat").val(data.responseText);
                            $("#t_princ").val(data.responseText);
                            $("#t_princ").addClass("hidden");
                            $("#submit_post").attr("disabled",false);
                        }
                    };
                    //Cuando se haga el submit del Form.
                    $(form).ajaxSubmit(options);
                });
            }
        }

    }

    
</script>

</body>
</html>