<%- include layouts/admin_header.ejs %>
            <div class="row">
                <div class="col-md-7">
                    <h1 style="margin-top: 0;">Ciudadanos en el sistema</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Este div renderiza la tabla de usuarios -->
                <div id="table_user" class="col-md-12"></div>
            </div>

<script type="text/javascript">

    $(document).ready(function(){
        $.ajax({
            type: 'POST',
            data: {clave: ""},
            url: '/user_cdd/list',
            success: function(data){
                $("#table_user").html(data);
            }
        });
    });
</script>

<%- include layouts/footer.ejs %>