<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observa Ciudadania</title>
</head>
<body>
    <h3>Se ha eliminado el observatorio <%= data[0] %>, gracias por su participación, para más consultas acceda desde el siguiente <a href="app.observaciudadania.org">link.</a></h3>
</body>
</html>